* {
  margin: 0;
}
body {
  background-color: rgb(11, 19, 32);
  font-family: "Righteous", cursive;
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  margin: 10px;
  width: 380px;
  height: 625px;
  background: rgb(81, 27, 88);
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  margin-left: 35%;
}
h1 {
  margin-top: 150px;
  color: beige;
  margin-bottom: 20px;
  font-weight: 100;
}
button {
  /* box-shadow: ; */
  border: none;
  color: aquamarine;
  background-color: rgb(40 91 110);
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: transform 480ms;
}
button:hover {
  background-color: rgba(33, 70, 105, 0.918);
}
.box {
  height: 80px;
  width: 80px;
  display: flex;
  float: right;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  cursor: pointer;
}
.box:hover {
  background-color: rgb(95 32 104 / 42%);
}
#gameboard {
  box-sizing: border-box;
  width: 260px;
  margin-left: 50.5px;
}
.box:nth-last-child(3n) {
  border-right: none;
}
.box:nth-last-child(1) {
  border-bottom: none;
}
.box:nth-last-child(2) {
  border-bottom: none;
}
.box:nth-last-child(3) {
  border-bottom: none;
}
.reset:active {
  transform: translateY(3px);
}
